*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}


body{
    background-color: black;
    /* background: linear-gradient(150deg purple blue); */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    padding: 20px ;
    
}


.trans-body{
    height: 500px;
    width: 800px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0px 20px;
}

.trans-title{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding: 20px;
}


.lang-from{
    /* background-color: aqua; */
    height:100px;
    padding: 20px;
    
}


.lang-to{
    
    /* background-color: yellowgreen; */
    height:100px;
    padding: 20px;
}



.lang-from .first-inp{
    margin-top: 10px;
    height: 80%;
    width: 80%;
    padding-left: 10px;    
    border-radius: 5px;


}




.lang-to .first-inp{
    margin-top: 10px;    
    height: 80%;
    width: 80%;
          
}


.lang-from .sec-inp{
    height: 80%;
    border-radius: 10px;
    border: transparent;
}


.lang-to .sec-inp{
    height: 80%;
    border-radius: 10px;
    border: transparent;   
}

.lang-title h1{
    /* background-color: aqua; */
 margin-left: 70PX;
}
.lang-title{
    /* background-color: aqua; */
}

.all-inp{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    height: 50px;
    /* background-color: black;    */
}

.selector{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

.sec-inp{
    height: 40px;
    width:100px;
    border-radius: 10px;
}

.all-inp .first-inp{
    border-bottom: 2px solid black;
}

.all-inp .sec-inp{
    border-bottom: 2px solid black;
}
.lang-title h2{
       width: 20%;
       text-align: center;
    /* background-color: blue;  */

}



.lang-title h1{
    height: 20PX;
    width: 80%;
    /* background-color: green;   */

}

.lang-title{
    display: flex;
    justify-content: space-between;
}


.trans-btn{
    /* background-color: aqua; */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.trans-btn button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: 500px;    
    background-color:greenyellow;
    
}

